@page "/account/manage/change_password"
@inherits AccountPage<ChangePasswordPage, ChangePasswordPageHandler>

<PageTitle>Change password</PageTitle>

<h3>Change password</h3>
<StatusMessage />
<div class="row">
  <div class="col-xl-6">
    <EditForm id="change-password-form" Model="Input" FormName="change-password" OnValidSubmit="ChangePasswordAsync" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />
      <div class="form-floating mb-3">
        <InputText id="current-password-input" type="password" @bind-Value="Input.CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter the old password" />
        <label for="current-password-input" class="form-label">Old password</label>
        <ValidationMessage For="() => Input.CurrentPassword" class="text-danger" />
      </div>
      <div class="form-floating mb-3">
        <InputText id="new-password-input" type="password" @bind-Value="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter the new password" />
        <label for="new-password-input" class="form-label">New password</label>
        <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
      </div>
      <div class="form-floating mb-3">
        <InputText id="confirmation-input" type="password" @bind-Value="Input.NewPasswordConfirmation" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter the new password" />
        <label for="confirmation-input" class="form-label">Confirm new password</label>
        <ValidationMessage For="() => Input.NewPasswordConfirmation" class="text-danger" />
      </div>
      <button id="change-password-submit" type="submit" class="w-100 btn btn-lg btn-primary">Change password</button>
    </EditForm>
  </div>
</div>
