.custom-navbar {
  background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 100%);
}

.custom-dropdown-menu {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.nav-item .icon.home:before {
  content: "home";
}

.nav-item .icon.about:before {
  content: "info";
}

.nav-item .icon.register:before {
  content: "person_add";
}

.nav-item .icon.login:before {
  content: "login";
}

.nav-item .icon.logout:before {
  content: "logout";
}

.nav-item .icon.profile:before {
  content: "person";
}

.nav-item .icon.schedule:before {
  content: "event";
}

.nav-item .icon.library:before {
  content: "newsstand";
}

.nav-item .icon.assets:before {
  content: "category";
}

/* Scene Builder Navigation Icons */
.nav-item .icon.reset-zoom:before {
  content: "zoom_out_map";
}

.nav-item .icon.zoom-fit-horz:before {
  content: "fit_screen";
}

.nav-item .icon.zoom-fit-vert:before {
  content: "fit_screen";
  transform: rotate(90deg);
}

.nav-item .icon.zoom-in:before {
  content: "zoom_in";
}

.nav-item .icon.zoom-out:before {
  content: "zoom_out";
}
