@page "/chat"
@inherits ExtendedComponent
@rendermode InteractiveAuto

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<ul>
  @foreach (var message in State.Messages)
  {
    <li>
      @message.Timestamp: (@message.Direction)
      <p>@message.Text</p>
    </li>
  }
</ul>

<input @bind="State.NewMessage" @bind:event="oninput" />
<button @onclick="SendMessage">Send</button>
