.scene-builder-toolbar {
  display: flex;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.toolbar-group {
  margin-right: 15px;
}

.scene-canvas-container {
  position: relative;
  overflow: auto; /* Ensures no scrollbars appear */
  background-color: #e0e0e0; /* Gray background */
  height: calc(100vh - 120px); /* Fill available viewport space */
  width: 100%;
}

.scene-canvas-layer {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}