@page "/account/confirm_email"
@inherits ExtendedComponent<ConfirmEmailPageHandler>

<PageTitle>Email Confirmation</PageTitle>

<h1>Email Confirmed</h1>
<StatusMessageComponent Message="Thank you for confirming your email." />
