@page "/account/confirm_email"
@inherits PublicComponent<ConfirmEmailPageHandler>

<PageTitle>Email Confirmation</PageTitle>

<h1>Email Confirmed</h1>
<p>Thank you for confirming your email.</p>
<button class="btn btn-primary" @onclick="GoToSignInPage">Sign In</button>
