@page "/account/confirm_email"
@inherits ExtendedComponent<ConfirmEmailPage, ConfirmEmailPageHandler>

<PageTitle>Email Confirmation</PageTitle>

<h1>Email Confirmed</h1>
<StatusMessageComponent />
<button class="btn btn-primary" @onclick="GoToSignInPage">Sign In</button>
