@page "/account/external_login"

<PageTitle>Register</PageTitle>

<StatusMessageComponent Message="@_message" />
<h1>Register</h1>
<h2>Associate your @ProviderDisplayName account.</h2>
<hr />

<div  class="alert alert-info">
  You've successfully authenticated with <strong>@ProviderDisplayName</strong>.
  Please enter an email address for this site below and click the Register button to finish
  logging in.
</div>

<div class="row">
  <div class="col-md-4">
    <EditForm id="external-login-form" Model="Input" OnValidSubmit="OnValidSubmitAsync" FormName="confirmation" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />
      <div class="form-floating mb-3">
        <InputText id="email-input" @bind-Value="Input.Email" class="form-control" autocomplete="email" placeholder="Enter your email" />
        <label for="email-input" class="form-label">Email</label>
        <ValidationMessage For="() => Input.Email" />
      </div>
      <button id="external-login-subimt" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </EditForm>
  </div>
</div>
