@page "/account/forgot_password"
@inherits PublicComponent<ForgotPasswordPageHandler>

<PageTitle>Forgot your password?</PageTitle>

<h1>Forgot your password?</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
  <div class="col-md-4">
    <EditForm id="forgot-password-form" Model="State.Input" FormName="forgot-password" OnValidSubmit="ResetPasswordAsync" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />

      <div class="form-floating mb-3">
        <InputText id="email-input" @bind-Value="State.Input.Email" class="form-control" type="email" autocomplete="email" aria-required="true" placeholder="name@example.com" />
        <label for="email-input" class="form-label">Email</label>
        <ValidationMessage For="() => State.Input.Email" class="text-danger" />
      </div>
      <button id="forgot-password-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
    </EditForm>
   </div>
</div>
