@page "/account/login_with_recovery_code"

<PageTitle>Recovery code verification</PageTitle>

<h1>Recovery code verification</h1>
<hr />
<StatusMessageComponent Message="@_message" />
<p>
  You have requested to log in with a recovery code. This login will not be remembered until you provide
  an authenticator app code at log in or disable 2FA and log in again.
</p>
<div class="row">
  <div class="col-md-4">
    <EditForm id="recovery-code-login-form" Model="Input" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />
      <div class="form-floating mb-3">
        <InputText id="code-input" @bind-Value="Input.Code" class="form-control" autocomplete="off" placeholder="Enter the recovery code" />
        <label for="code-input" class="form-label">Recovery Code</label>
        <ValidationMessage For="() => Input.Code" class="text-danger" />
      </div>
      <button id="recovery-code-login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </EditForm>
  </div>
</div>
