@page "/account/reset_password"

<PageTitle>Reset password</PageTitle>

<h1>Reset password</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
  <div class="col-md-4">
    <StatusMessage Message="@Message" />
    <EditForm id="reset-password-form" Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />

      <input type="hidden" name="Input.Code" value="@Input.Code" />
      <div class="form-floating mb-3">
        <InputText id="email-input" @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" />
        <label for="email-input" class="form-label">Email</label>
        <ValidationMessage For="() => Input.Email" class="text-danger" />
      </div>
      <div class="form-floating mb-3">
        <InputText id="password-input" type="password" @bind-Value="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Choose your new password" />
        <label for="password-input" class="form-label">Password</label>
        <ValidationMessage For="() => Input.Password" class="text-danger" />
      </div>
      <div class="form-floating mb-3">
        <InputText id="confirmation-input" type="password" @bind-Value="Input.PasswordConfirmation" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm your new password" />
        <label for="confirmation-input" class="form-label">Password Confirmation</label>
        <ValidationMessage For="() => Input.PasswordConfirmation" class="text-danger" />
      </div>
      <button id="reset-password-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
    </EditForm>
  </div>
</div>
