.icon {
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
  font-size: 1.25rem;
  display: inline-flex;
}

  .icon.filled {
    font-variation-settings: 'FILL' 1;
  }

  .icon.x-small {
    font-size: 0.875rem;
  }

  .icon.small {
    font-size: 1rem;
  }

  .icon.large {
    font-size: 1.5px;
  }

  .icon.x-large {
    font-size: 2px;
  }

  .icon.list:before {
    content: "list";
  }

  .icon.grid:before {
    content: "grid_view";
  }

  .icon.close:before {
    content: "close_small";
  }

  .icon.view:before {
    content: "visibility";
  }

  .icon.edit:before {
    content: "edit";
  }

  .icon.delete:before {
    content: "delete_forever";
  }

  .icon.create:before {
    content: "add";
  }

  .icon.clone:before {
    content: "content_copy";
  }

  .icon.back:before {
    content: "arrow_back";
  }

  .icon.save:before {
    content: "save";
  }

  .icon.discard:before {
    content: "ink_eraser";
  }

  .icon.cancel:before {
    content: "cancel";
  }

  .icon.join:before {
    content: "input";
  }

  .icon.start:before {
    content: "play_circle";
  }

.btn .icon {
  font-size: 1.25rem;
}

.btn-lg .icon {
  font-size: 1.5rem;
}

.btn-sm .icon {
  font-size: 1rem;
}

.btn-icon {
  --bs-btn-font-weight: 400;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-border-color: transparent;
  text-decoration: none;
  padding: 0;
}

.icon-primary,
.icon-primary:hover,
.btn-outline-primary .icon
.link-primary .icon {
  color: var(--bs-primary);
}

.icon-secondary,
.icon-secondary:hover,
.btn-outline-secondary .icon
.link-secondary .icon {
  color: var(--bs-secondary);
}

.icon-success,
.icon-success:hover,
.btn-outline-success .icon
.link-success .icon {
  color: var(--bs-success);
}

.icon-danger,
.icon-danger:hover,
.btn-outline-danger .icon
.link-danger .icon {
  color: var(--bs-danger);
}

.icon-warning,
.icon-warning:hover,
.btn-outline-warning .icon
.link-warning .icon {
  color: var(--bs-warning);
}

.icon-info,
.icon-info:hover,
.btn-outline-info .icon
.link-info .icon {
  color: var(--bs-info);
}

.icon-light,
.icon-light:hover,
.btn-outline-light .icon
.link-light .icon {
  color: var(--bs-light);
}

.icon-dark,
.icon-dark:hover,
.btn-outline-dark .icon
.link-dark .icon {
  color: var(--bs-dark);
}

.btn-primary .icon,
.btn-outline-primary:hover .icon,
.btn-secondary .icon,
.btn-outline-secondary:hover .icon,
.btn-success .icon,
.btn-outline-success:hover .icon,
.btn-danger .icon,
.btn-outline-danger:hover .icon,
.btn-dark .icon,
.btn-outline-dark:hover .icon {
  color: var(--bs-light);
}

.btn-warning .icon,
.btn-outline-warning:hover .icon,
.btn-info .icon,
.btn-outline-info:hover .icon,
.btn-light .icon,
.btn-outline-light:hover .icon {
  color: var(--bs-dark);
}
