@page "/account/manage/delete_personal_data"

<PageTitle>Delete Personal Data</PageTitle>

<StatusMessageComponent Message="@_message" />

<h3>Delete Personal Data</h3>

<div class="alert alert-warning" role="alert">
  <p>
    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
  </p>
</div>

<div>
  <EditForm id="delete-personal-data-form" Model="Input" FormName="delete-user" OnValidSubmit="OnValidSubmitAsync" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    @if (_requirePassword) {
      <div class="form-floating mb-3">
        <InputText id="password-input" type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password" />
        <label for="password-input" class="form-label">Password</label>
        <ValidationMessage For="() => Input.Password" class="text-danger" />
      </div>
    }
    <button id="delete-personal-data-submit" class="w-100 btn btn-lg btn-danger" type="submit">Delete data and close my account</button>
  </EditForm>
</div>
