@page "/account/manage"
@inherits ExtendedComponent<IndexPage, IndexPageHandler>

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessageComponent />

<div class="row">
  <div class="col-xl-6">
    <EditForm id="update-profile-form" Model="State.Input" FormName="profile" OnValidSubmit="UpdateProfileAsync" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />
      <div class="form-floating mb-3">
        <InputText id="display-name-input" value="@Input.DisplayName" class="form-control" placeholder="Choose your player name." disabled />
        <label for="display-name-input" class="form-label">Player name</label>
      </div>
      <button id="update-profile-submit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </EditForm>
  </div>
</div>
