@page "/account/manage/set_password"

<PageTitle>Set password</PageTitle>

<h3>Set your password</h3>
<StatusMessageComponent Message="@_message" />
<p class="text-info">
  You do not have a local username/password for this site. Add a local
  account so you can log in without an external login.
</p>
<div class="row">
  <div class="col-xl-6">
    <EditForm id="set-password-form" Model="Input" FormName="set-password" OnValidSubmit="OnValidSubmitAsync" method="post">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" role="alert" />
      <div class="form-floating mb-3">
        <InputText id="password-input" type="password" @bind-Value="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Choose your new password" />
        <label for="password-input" class="form-label">New password</label>
        <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
      </div>
      <div class="form-floating mb-3">
        <InputText id="confirmation-input" type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirm your new password" />
        <label for="confirmation-input" class="form-label">Confirm password</label>
        <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
      </div>
      <button id="set-password-submit" type="submit" class="w-100 btn btn-lg btn-primary">Set password</button>
    </EditForm>
   </div>
</div>
