@page "/sessions"
@inject HttpClient Http

<h1>Game Sessions</h1>

<button @onclick="CreateSession">Create New Session</button>

@if (_sessions == null)
{
  <p>Loading sessions...</p>
}
else
{
  <ul>
    @foreach (var session in _sessions)
    {
      <li>@session.Name</li>
    }
  </ul>
}

public record GameSession(Guid Id, string Name);
