.scene-builder-toolbar {
  display: flex;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.toolbar-group {
  margin-right: 15px;
}

.scene-canvas-container {
  flex: 1;
  position: relative;
  overflow: auto;
  background-color: white;
}

.scene-canvas {
  margin: 5px;
  position: absolute;
  background-color: white;
  border: 2px solid red;
}

.ml-auto {
  margin-left: auto;
}
