@page "/Account/ConfirmEmail"

@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@_statusMessage" />
