@page "/sessions"
@inherits Page<GameSessionsPage, GameSessionsPageHandler>
@rendermode InteractiveServer

<PageTitle>Schedule</PageTitle>

<div class="container">
  <div id="page-header" class="row mb-4">
    <div class="col">
      <h1>Schedule</h1>
    </div>
  </div>
@if (!IsReady) {
  <div id="loading-message" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
else if (State.GameSessions.Count == 0) {
  <div id="no-items-message" class="alert alert-info">
    You don't have any game sessions yet. Create a new game session to get started!
  </div>
}
else {
  <div class="row row-cols-1 row-cols-md-3 g-4">
  @foreach (var session in State.GameSessions) {
    <div class="col">
      <div id="@($"session-{session.Id}")" class="card h-100">
        <div class="card-body">
          <h5 class="card-title">@session.Title</h5>
          <p class="card-text">
            <small class="text-muted">@session.PlayerCount player(s)</small>
          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-sm btn-primary join" @onclick="() => JoinGameSession(session.Id)">Join</button>
            <button class="btn btn-sm btn-primary edit" @onclick="() => NavigateToGameSession(session.Id)">Edit</button>
          @if (session.OwnerId == User!.Id) {
            <button class="btn btn-sm btn-outline-danger delete" @onclick="() => DeleteGameSession(session.Id)">Delete</button>
          }
          </div>
        </div>
      </div>
    </div>
  }
  </div>
}

</div>
}
